extends layout

block content
	div.container
		div.header
			ul(class="nav nav-pills pull-right")
				li.active 
					a(href="#/")= apiName
				li 
					a(href="#/New") New
			h3.text-muted nodeJax
	div.container
		div.row
			div.col-xs12
				h1= apiName
				br
				table(class='table table-striped')
					tr
						th Routes
						th Data
						th 
					each route in routes
						tr
							td api/
								b= route.url
							td= route.json
							td 
								a(href="#") Edit