doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='bower_components/sass-bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet',href="styles/style.css")
    link(rel='stylesheet',href="styles/main.css")
  body
    block content